{
    "extends": [
        "standard"
    ],
    "plugins": [
        "import",
        "standard"
    ],
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "rules": {
        "new-cap": 0,
        "semi": [
            "error",
            "never"
        ],
        "no-unused-vars": 2,
        "no-undef": 2,
        "indent": [
            "error",
            4
        ],
        "quotes": [
            "error",
            "single"
        ],
        "max-len": "off",
        "no-return-await": "off",
        "space-before-function-paren": [
            "error",
            "always"
        ]
    }
}
