
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

a {
    @apply text-green-700 font-bold italic;
}

a:hover {
    @apply text-green-600;
}

/*.container-inner {
    padding-left: 1rem;
    padding-right: 1rem;
}*/
.fade-enter-active,
.fade-leave-active {
    transition: ease opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
