
@import "markdown.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

a {
    @apply text-green-700 font-bold;
}

a:hover {
    @apply text-green-600;
}

.container-inner {
    padding-left: 1rem;
    padding-right: 1rem;
}
